:root {
	/** Base colors */
	--clr-text: #ffffff;

	/** Theme primary colors */
	--clr-primary-a0: #47bdfa;
	--clr-primary-a10: #66c4fb;
	--clr-primary-a20: #7fcbfb;
	--clr-primary-a30: #94d3fc;
	--clr-primary-a40: #a8dafd;
	--clr-primary-a50: #bbe1fd;

	/** Theme tonal surface colors */
	--clr-surface-a0: #1b2125;
	--clr-surface-a10: #303639;
	--clr-surface-a20: #464c4f;
	--clr-surface-a30: #5e6366;
	--clr-surface-a40: #777b7e;
	--clr-surface-a50: #919496;
	--clr-surface-a60: #a9acaf;
	--clr-surface-a70: #c1c3c6;
	--clr-surface-a80: #d9dadc;
	--clr-surface-a90: #f1f2f3;
	--clr-surface-a100: #ffffff;

	--clr-hint-info-bg: var(--clr-surface-a20);
	--clr-hint-info-text: var(--clr-text-a0);
	--clr-hint-warning-bg: #968a2b;
	--clr-hint-warning-text: #fffebb;
	--clr-hint-error-bg: #a11212;
	--clr-hint-error-text: #ffdada;
	--clr-hint-success-bg: #166534;
	--clr-hint-success-text: #bbf7d0;
}

:root[data-theme="disco"] {
	animation: disco 60s infinite;
}

@keyframes disco {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
